[Unit]
Description=Buletina

[Service]
DynamicUser=yes
StateDirectory=buletina
WorkingDirectory=/var/lib/buletina
EnvironmentFile=/var/lib/buletina/env
ExecStart=/usr/local/bin/buletina-serve

Restart=on-failure
RestartSec=3

KillSignal=SIGINT
TimeoutStopSec=60

[Install]
WantedBy=default.target
